<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/header-style.css" />
    <title>header</title>
  </head>
  <body>
    <header>
      <div class="menu-login">
        <ul>
          <li><a class="li-1" href="dang-nhap.html">Đăng nhập</a></li>
          <li><a class="li-1" href="dang-ky.html">Đăng ký</a></li>
          <li><a class="li-1" href="quen-mat-khau.html">Quên mật khẩu</a></li>
        </ul>
      </div>
      <div class="tittle">
        <h1><b>FPT P</b>olytechnic</h1>
        <hr />
        <h3>THỰC HỌC-THỰC NGHIỆM</h3>
      </div>
    </header>
    <ul class="menu-bar">
      <li><a href="../trang-chu.html">TRANG CHỦ</a></li>
      <li>
        <a
          href="about.html"
          >GIỚI THIỆU</a
        >
      </li>
      <li>
        <a href="lien-he.html">LIÊN HỆ</a>
        <ul>
          <li><a href="#">Mobile</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </li>
      <li>
        <a href="feed-back.html">GÓP Ý</a>
      </li>
      <li>
        <a href="hoi-dap.html">HỎI ĐÁP</a>
      </li>
      <div class="language"></div>
      <li>
        <a href="#">ENGLISH</a>
      </li>
      <li>
        <a href="#"
          >TIẾNG VIỆT</a
        >
      </li>
    </ul>
  </body>
</html>
