<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/dang-nhap-style.css" />
    <title>Đăng Nhập</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0"
      nonce="g1bPPoVo"
    ></script>
    <header class="horizontal-header">
 
      <nav class="horizontal-nav">
        <div class="nav-right">
          <ul>
            <li><a href="../index.html">Trang chủ</a></li>
            <li><a href="danh-muc.html">Danh mục sản phẩm</a></li>
            <li><a href="khach-hang.html">Khách hàng</a></li>
            <li><a href="">Đơn hàng</a></li>
            <li><a href="quan-tri-vien.html">Quản trị viên</a></li>
          </ul>
        </div>
      </nav>
      <div class="menu-login">
        <ul>
          <li><a class="li-1" href="dang-nhap.html">Đăng nhập</a></li>
          <li><a class="li-1" href="dang-ky.html">Đăng ký</a></li>
          <li>
            <a class="li-1" href="quen-mat-khau.html">Quên mật khẩu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="logo">
      <h1>TRANG QUẢN TRỊ</h1>
    </div>
    <section>
      <aside></aside>
      <article>
        <div class="login-container">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" /> Remember me?
              </label>
            </div>
            <div class="form-group">
              <button type="submit" class="form-button">Login</button>
              <br />
              <hr />
              <button type="reset" class="reset-button">Reset</button>
            </div>
            <br />
            <div class="forget-password">
              <a href="quen-mat-khau.html">Forget password</a>
            </div>
            <div class="facebook">
              <div
                class="fb-login-button"
                data-width=""
                data-max-rows=""
                data-size="medium"
                data-button-type="continue_with"
                data-layout=""
                data-auto-logout-link="true"
                data-use-continue-as="false"
              ></div>
            </div>
          </form>
        </div>
      </article>
    </section>
    <footer>
      <h3>FPT POLYTECHNIC © 2024. ALL RIGHTS RESERVED</h3>
    </footer>
  </body>
</html>
