<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/danh-muc-style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="horizontal-header">
      <nav class="horizontal-nav">
        <div class="nav-right">
          <ul>
            <li><a href="../index.html">Trang chủ</a></li>
            <li><a href="danh-muc.html">Danh mục sản phẩm</a></li>
            <li><a href="khach-hang.html">Khách hàng</a></li>
            <li><a href="don-hang.html">Đơn hàng</a></li>
            <li><a href="quan-tri-vien.html">Quản trị viên</a></li>
          </ul>
        </div>
      </nav>
      <div class="menu-login">
        <ul>
          <li><a class="li-1" href="dang-nhap.html">Đăng nhập</a></li>
          <li><a class="li-1" href="dang-ky.html">Đăng ký</a></li>
          <li>
            <a class="li-1" href="quen-mat-khau.html">Quên mật khẩu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="logo">
      <h1>TRANG QUẢN TRỊ</h1>
    </div>
    <section>
      <aside>
        <div class="product-infor">
          <img src="" alt="" />
          <div class="image-prod">
            <img
              src="../assets/image/prod/lenovo.png"
              alt="no-image"
              width="325"
              height="200"
            />
          </div>
          <div class="product-edit">
            <fieldset>
              <legend>Tên sản phẩm</legend>
              <input type="text" id="prod-name" name="prod-name" />
              <button type="button">Sửa</button>
            </fieldset>
            <fieldset>
              <legend>Đơn giá</legend>
              <input
                type="number"
                min="1000"
                id="prod-price"
                name="prod-price"
              />
              <button type="button">Sửa</button>
            </fieldset>
            <fieldset>
              <legend>Số lượng nhập</legend>
              <input
                type="number"
                min="1"
                id="prod-quantity"
                name="prod-quantity"
              />
              <button type="button">Sửa</button>
            </fieldset>
            <fieldset>
              <legend>Nhà cung cấp</legend>
              <input type="text" id="prod-provicer" name="prod-provicer" />
              <button type="button">Sửa</button>
            </fieldset>
          </div>
        </div>
      </aside>
      <article>
        <table>
          <caption>
            Danh Mục Sản Phẩm
          </caption>
          <thead>
            <tr>
              <th>Mã sản phẩm</th>
              <th>Tên Danh Mục</th>
              <th>Mô Tả</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SP01</td>
              <td>Điện Thoại</td>
              <td>Mô tả về danh mục điện thoại.</td>
            </tr>
            <tr>
              <td>SP02</td>
              <td>Laptop</td>
              <td>Mô tả về danh mục laptop.</td>
            </tr>
            <tr>
              <td>SP03</td>
              <td>Laptop</td>
              <td>Mô tả về danh mục laptop.</td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
    <footer>
      <h3>FPT POLYTECHNIC © 2024. ALL RIGHTS RESERVED</h3>
    </footer>
  </body>
</html>
