<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/khach-hang.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="horizontal-header">
    
      <nav class="horizontal-nav">
        <div class="nav-right">
          <ul>
            <li><a href="../index.html">Trang chủ</a></li>
            <li><a href="danh-muc.html">Danh mục sản phẩm</a></li>
            <li><a href="khach-hang.html">Khách hàng</a></li>
            <li><a href="don-hang.html">Đơn hàng</a></li>
            <li><a href="quan-tri-vien.html">Quản trị viên</a></li>
          </ul>
        </div>
      </nav>
      <div class="menu-login">
        <ul>
          <li><a class="li-1" href="dang-nhap.html">Đăng nhập</a></li>
          <li><a class="li-1" href="dang-ky.html">Đăng ký</a></li>
          <li>
            <a class="li-1" href="quen-mat-khau.html">Quên mật khẩu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="logo">
      <h1>TRANG QUẢN TRỊ</h1>
    </div>
    <section>
      <aside></aside>
      <article>
        <table>
            <caption>Danh sách khách hàng</caption>
          <thead>
            <tr>
              <th>Tên khách hàng</th>
              <th>Năm sinh</th>
              <th>Email</th>
              <th>SL sản phẩm</th>
              <th>Tổng thanh toán</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" value="Nguyễn Đằng Giang" disabled></td>
              <td><input type="month" value="1999-09"  disabled></td>
              <td><input type="email" value="nguyendanggiang@gmail.com" disabled> </td>
              <td>2</td>
              <td>34.000.000</td>
              <td>
                <button type="button">Chỉnh sửa</button>
                <button type="button">Xóa</button>
              </td>
            </tr>
            <tr>
              <td><input type="text" value="Nguyễn Đằng Giang" disabled></td>
              <td><input type="month" value="1999-09"  disabled></td>
              <td><input type="email" value="nguyendanggiang@gmail.com" disabled> </td>
              <td>2</td>
              <td>34.000.000</td>
              <td>
                <button type="button">Chỉnh sửa</button>
                <button type="button">Xóa</button>
              </td>
            </tr><tr>
              <td><input type="text" value="Nguyễn Đằng Giang" disabled></td>
              <td><input type="month" value="1999-09"  disabled></td>
              <td><input type="email" value="nguyendanggiang@gmail.com" disabled> </td>
              <td>2</td>
              <td>34.000.000</td>
              <td>
                <button type="button">Chỉnh sửa</button>
                <button type="button">Xóa</button>
              </td>
            </tr><tr>
              <td><input type="text" value="Nguyễn Đằng Giang" disabled></td>
              <td><input type="month" value="1999-09"  disabled></td>
              <td><input type="email" value="nguyendanggiang@gmail.com" disabled> </td>
              <td>2</td>
              <td>34.000.000</td>
              <td>
                <button type="button">Chỉnh sửa</button>
                <button type="button">Xóa</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="3">Tổng</th>
              <th>8</th>
              <th>136.000.000 VNĐ</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </article>
    </section>
    <footer>
      <h3>FPT POLYTECHNIC © 2024. ALL RIGHTS RESERVED</h3>
    </footer>
  </body>
</html>
