<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/quen-mat-khau-style.css" />
    <title>Quên Mật Khẩu</title>
  </head>
  <body>
      <header class="horizontal-header">
    
        <nav class="horizontal-nav">
          <div class="nav-right">
            <ul>
              <li><a href="../index.html">Trang chủ</a></li>
              <li><a href="danh-muc.html">Danh mục sản phẩm</a></li>
              <li><a href="khach-hang.html">Khách hàng</a></li>
              <li><a href="don-hang.html">Đơn hàng</a></li>
              <li><a href="quan-tri-vien.html">Quản trị viên</a></li>
            </ul>
          </div>
        </nav>
        <div class="menu-login">
          <ul>
            <li><a class="li-1" href="dang-nhap.html">Đăng nhập</a></li>
            <li><a class="li-1" href="dang-ky.html">Đăng ký</a></li>
            <li>
              <a class="li-1" href="quen-mat-khau.html">Quên mật khẩu</a>
            </li>
          </ul>
        </div>
      </header>
      <div class="logo">
        <h1>TRANG QUẢN TRỊ</h1>
      </div>
    <section>
      <aside></aside>
      <article>
        <div class="forgot-password-container">
          <form action="/forgot-password" method="POST">
            <h2>Quên Mật Khẩu</h2>
            <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required />
            </div>
            <button type="submit">Gửi Yêu Cầu</button>
          </form>
        </div>
      </article>
    </section>
    <footer>
      <h3>FPT POLYTECHNIC © 2024. ALL RIGHTS RESERVED</h3>
    </footer>
  </body>
</html>
